.content {
  /* border:1px solid black; */
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 90%;
}
input {
  width: 330px;
  height: 40px;
 
  padding: 5px 15px;
  font-size: 20px;
  text-transform: lowercase;

   background: transparent;
    border: none;
    border-bottom: 3px solid #707070;
}
::placeholder {
  font-size: 20px;
  text-transform: capitalize;

}

textarea:focus, input:focus{
  outline: none;
}


.nextbtnBox a {
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 71px;
  height: 22px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #12235f;
}
