.subParentBox {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #000;
}
.subParentBox h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  color: #20232f;
}
.otpText p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: #555555;
}
.dashbox{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 50px;
}
.dash{
    width: 30px;
    height: 2px;
    background-color: #BBBBBB;
    ;
}
.resend button{
    text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  border: 1px solid #fff;
  /* identical to box height */

  text-align: center;

  color: #3f85fd;
  margin-left: 700px;
  /* width: 1600px; */
}
.resendBtn{
  border: 10px solid #707070;
  background-color:#fff;
  color:#000;
  width: 130px;
  height: 50px;
  /* margin-left: 200px; */
  margin: 0 auto;
  width: 200px;
}
.resendBtn:hover{
  background-color:#12235f;
  color:#fff;
  cursor: pointer;
  border-radius:25px ;
  
}
.nextbtnBox a {
    text-decoration: none;
    position: fixed;
    bottom: 150px;
    right: 100px;
  width: 71px;
  height: 22px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #12235f;
}
.nextbtnBox a:hover{
  font-size: 30px;
}